<div class="columns large-3">
  <h3>Map Calls ({{foundCalls}})</h3>
  <ul class="side-nav">
    {{#each content}}
      <li>{{type}}</li>
    {{/each}}
  </ul>
</div>
<div class="columns large-9">
  {{outlet}}
  <div id="map"></div>
</div>

