<div class="columns large-3">
  <h3>Map Properties</h3>
  {{input value=zoomLevel placeholder="Zoom Level"}}
  {{input value=mapBounds placeholder="Bounds"}}
</div>
<div class="columns large-9">
  <div id="map"></div>
</div>

