<div class="columns large-3">
  <h3>Map Calls</h3>
  <ul class="side-nav">
    {{#each content}}
      <li>{{#link-to 'call' this}}{{type}}{{/link-to}}</li>
    {{/each}}
  </ul>
  {{input value=zoomLevel placeholder="Zoom Level"}}
  {{input value=mapBounds placeholder="Bounds"}}
</div>
<div class="columns large-9">
  {{outlet}}
  <div id="map"></div>
</div>

